streamlit_elements==0.1.0
Pillow~=10.1.0
langid~=1.1.6
lingua-language-detector
codeswitch~=1.1
transformers
torch
scikit-learn~=1.3.2
matplotlib~=3.8.0
plotly
fastdtw~=0.3.4
codeswitch
numpy~=1.24.4
scipy~=1.11.3
streamlit~=1.38.0
pandas~=2.1.2
altair~=5.1.2
tqdm~=4.66.1